# macOS
.DS_Store
**/.DS_Store

# Thumbnails
._*

# Finder metadata
.AppleDouble
.LSOverride

# Spotlight
.Spotlight-V100

# Trashes
.Trashes

# macOS volume files
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
